~*
*.addr
*.bin-runtime
*.docdev
*.docuser
*.json
*.log
*.out
*.pyc
*.swo
*.swp
*.whl
*.zip
.git/
artifacts/TestNeverDeployed.*
build
dist
docs/build
docs/images
docs/source/_static
docs/source/_templates
env/
simpleth.egg-info
solc/
src/contracts/TestNeverDeployed.sol
/.mypy_cache/.gitignore
/tools/.mypy_cache/CACHEDIR.TAG
