~*
*.abi
*.addr
*.bin
*.bin-runtime
*.docdev
*.docuser
*.json
*.log
*.out
*.pyc
*.swo
*.swp
*.zip
.git/
.idea/
artifacts/
build/
backup/
docs/source/_static
docs/source/_templates
docs/build
env/
solc/
/src/simpleth/get_json.py
