include examples/event_poll.py
include examples/hello_world1.py
include examples/hello_world2.py
include examples/hello_world3.py
include examples/hello_world4.py
include artifacts/HelloWorld1.abi
include artifacts/HelloWorld1.bin
include artifacts/HelloWorld2.abi
include artifacts/HelloWorld2.bin
include artifacts/HelloWorld3.abi
include artifacts/HelloWorld3.bin
include artifacts/HelloWorld4.abi
include artifacts/HelloWorld4.bin
include artifacts/Test.abi
include artifacts/Test.bin